<h1>New Post</h1>


<%= form_for @post do |f| %>

<%= f.text_field :title%><br>

<%= f.text_area :body%><br>

<%= f.collection_check_boxes :tag_ids, @tags, :id, :name  %><br>

<%= f.collection_radio_buttons(:authors, @users, :id, :name) %><br>

<%= f.collection_select(:child_comments, @comments, :id, :body, {},
                        :multiple => true) %><br
>

<%= f.submit %>
<% end %>
